{% extends "base.html" %}

{% block content %}
    <h1>{{ profile.username }} のプロフィール</h1>

    {% if request.user == user %}
    <p>(´・ω・)</p>
    {% elif is_following %}
        <ul style="text-align: right;">
            <form action="{% url 'accounts:unfollow' profile.username %}" method="post">
                {% csrf_token %}
                <button type="submit" class="unfollow-button">フォロー解除</button>
            </form>
        </ul>
    {% else %}
        <ul style="text-align: right;">
            <form action="{% url 'accounts:follow' profile.username %}" method="post">
                {% csrf_token %}
                <button type="submit" class="follow-button">フォロー</button>
            </form>
        </ul>
    {% endif %}

    <table>
    <form action="{% url 'accounts:following_list' profile.username %}">
        {% csrf_token %}
        <button class="number-counter">フォロー中: {{ following_count }}人</button>
    </form>

    <form action="{% url 'accounts:follower_list' profile.username %}">
        {% csrf_token %}
        <button class="number-counter">フォロワー: {{ follower_count }}人</button>
    </form>
    </table>
    
{% for tweet in profile_list %}
<div class="tweet-content">
    <div class="icon-and-data">
        <div class="profile-icon">{{ tweet.user }}</div>
        <div class="data">{{ tweet.created_at }}</div>
    </div>

    <p>{{ tweet.content }}</p>
    <a href="{% url 'tweets:detail' tweet.pk %}" class="btn">詳細</a>
</div>
{% endfor %}
{% endblock %}
