{% extends "base.html" %}

{% block content %}
{% if Delete.user == request.user %}
<form method="post">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; background-color: #191976; color: #ffffff;">
        <p>{{Delete.user}} {{Delete.created_at}}</p>
        <p>{{Delete.content}}</p>
    </div>
    {% csrf_token %}
    <a>本当に削除しますか？</a>
    <button type="submit">削除</button> <button><a href="{% url 'tweets:detail' Delete.pk %}" class="btn">戻る</a></button>
</form><br>
{% endif %}
{% endblock %}