{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<a>ユーザー:{{ user.username }}</a>

<form action="{% url 'tweets:create' %}">
    {% csrf_token %}
    <button class="icon">ツイート</button>
</form>

    {% for tweet in tweet_list %}
    <div class="tweet-content">
        <div class="icon-and-data">
                <form action="{% url 'accounts:user_profile' tweet.user %}">
                {% csrf_token %}
                <button class="icon">
                    {{ tweet.user }}
                </button>
                </form>
            <div class="data">
                <p>{{ tweet.created_at }}</p>
            </div>
        </div>
        <p>{{tweet.content}}</p>
        <a href="{% url 'tweets:detail' tweet.pk %}" class="btn">詳細</a>
    </div>    
    {% endfor %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tag %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
